body {
    font-family: Helvetica,Arial, sans-serif;
    background-color: indigo;
    margin-top: 20px
    }

.main {background-color: white;
border-radius:10px;
width: 50%;
padding: 20px 50px 20px 50px;
margin: 0 auto;
height: 300px;
}

button {
    padding: 5px;
    flex-grow: 1;
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

h2, p {
    margin-bottom: 50px;
}

h3 {margin-top: 50px;}